*.py[co]
.ipynb_checkpoints/
.DS_Store
blank/.ipynb_checkpoints/
blank_for_recording/.ipynb_checkpoints/
chapters/.ipynb_checkpoints/
.DS_Store
Icon[\r]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
